<button class="ui twitter icon massive button">
  <%= link_to ("<i class='twitter icon'></i>").html_safe, '/auth/twitter' %>
</button>

<button class="ui facebook icon massive button">
  <%= link_to ("<i class='facebook icon'></i>").html_safe, '/auth/facebook' %>
</button>

<h1 class="ui centered header">Please sign in</h1>
<%= form_tag sessions_path, { :class => "ui form" } do %>
  <div class="ui raised text container segment">
    <div class="required fluid field field_with_errors">
        <%= label_tag :email %><br>
        <%= email_field_tag 'email', nil, placeholder: 'example@gmail.com' %><br><br>
    </div>
    <div class="required fluid field field_with_errors">
        <%= label_tag :password %><br>
        <%= password_field_tag 'password', nil, placeholder: '*****' %><br><br>
    </div>
      <%= submit_tag 'Login', :class => "ui teal huge submit button fluid" %>
  </div>
<% end %>
<div class="ui raised text container segment">
  <h1 class="ui centered header">If new to us please <%= link_to "create account!", new_user_path %></h1>
</div>
