<%= form_for @recipe, :html => { :class => "ui form" } do |f| %>
  <div id="parent_add_ingredient" class="ui raised text container segment">
    <%= render 'users/form_errors', object: @recipe %>

    <%= render 'recipe_form', f: f %>

    <% 1.times do |n| %>
      <%= f.fields_for :ingredients do |i| %>
        <div class="fluid field">
          <%= i.label :quantity %>
          <input type="text" name="recipe[ingredients_attributes][<%= n %>][quantity]" /><br>
          <%= i.label "Ingredient #{ n + 1 }" %>
          <%= i.text_field :name %>
        </div><br>
      <% end %>
    <% end %>

  </div>
  <div class="ui text container">
    <button id="add_ingredient" type="button" class="ui teal huge button">Add Ingredient</button><br><br>

      <%= f.submit 'Create Recipe', :class => "ui teal huge submit button fluid text container" %>
  </div>
<% end %>
