<%= form_for @recipe, :html => { :class => "ui form" } do |f| %>
  <div class="ui raised text container segment">

    <%= render 'recipe_form', f: f %>

    <% 5.times do |n| %>
      <%= f.fields_for :ingredients do |i| %>
        <div class="fluid field field_with_errors">
          <%= i.label :quantity %>
          <input type="text" name="recipe[ingredients_attributes][<%= n %>][quantity]" /><br>
          <%= i.label "Ingredient #{ n + 1 }" %>
          <%= i.text_field :name %>
        </div><br>
      <% end %>
    <% end %>


      <%= f.submit 'Create Recipe', :class => "ui teal huge submit button fluid" %>
  </div>
<% end %>

<!-- 10.times do
  f.fields_for :ingredients, @recipe.ingredients.build do |i|
  div class="field"
  i.text_field :name
  /div
  end
  end -->
