<%= form_for @recipe, :html => { :class => "ui form" } do |f| %>
  <div class="ui raised text container segment">

    <%= render 'recipe_form', f: f %>

    <% 10.times do %>
      <%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |q| %>
      <%= f.fields_for :ingredients, @recipe.ingredients.build do |i| %>
        <div class="field">
          <%= q.text_field :quantity %>
          <%= i.text_field :name %>
        </div>
      <% end %>
      <% end %>
    <% end %>

      <%= f.submit 'Create Recipe', :class => "ui teal huge submit button fluid" %>
  </div>
<% end %>

<!-- 10.times do
  f.fields_for :ingredients, @recipe.ingredients.build do |i|
  div class="field"
  i.text_field :name
  /div
  end
  end -->
