<div class="ui raised text container segment">

  <% if logged_in? && current_user != @recipe.user %>
    <%= form_for @favorite do |f| %>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit 'Add Recipe to Favorites', { :class => 'ui left floated button' } %>
    <% end %>
  <% end %>

  <%= if_logged_in_options %>

  <h1 class="ui centered header"><%= @recipe.title %></h1>
  <h1 class="ui centered header">Description: <%= @recipe.description %></h1>
  <h1 class="ui centered header">Prep Time: <%= @recipe.prep_time %></h1>
  <h1 class="ui centered header">Cook Time: <%= @recipe.cook_time %></h1>
  <h1 class="ui centered header">Directions: <%= @recipe.directions %></h1>

  <div class="ui list">
    <h1 class="ui centered header">Ingredients: </h1>
    <% @recipe.recipe_ingredients.each do |recipe| %>
      <h1 class="ui centered header"><%= recipe.quantity %> <%= recipe.ingredient.name %></h1>
    <% end %>
  </div>

  <% if @recipe.vegan == true %>
    <h1 class="ui centered header">Vegan: <i class="ui centered checkmark icon"></i></h1>
  <% else %>
    <h1 class="ui centered header">Vegan: <i class="ui centered remove icon"></i></h1>
  <% end %>
  <% if @recipe.gluten_free == true %>
    <h1 class="ui centered header">Gluten Free: <i class="ui centered checkmark icon"></i></h1>
  <% else %>
    <h1 class="ui centered header">Gluten Free: <i class="ui centered remove icon"></i></h1>
  <% end %>
</div>

<div class="ui raised text container segment">
  <h1 class="ui centered header"><%= link_to "Show Reviews", recipe_path, id: "show_review" %></h1>
  <% @ratings.each do |rating| %>
  <div class="ui very padded segment show_hide">
    <h1 class="ui centered header show_hide"><%= rating.user.name %>'s Review</h1>
    <h1 class="ui centered header show_hide">Rating: <%= rating.rating %></h1>
    <h1 class="ui centered header show_hide">Review: <%= rating.review %></h1>
  </div>
  <% end %>
</div>
