<div class="ui raised text container segment">
  <div class="ui clearing">
  <%= form_for @favorite do |f| %>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit 'Add Recipe to Favorites', { :class => 'ui left floated button' } %>
  <% end %>
    <%= link_to 'Write Review', new_recipe_rating_path(@recipe), { :class => 'ui right floated button' } %>
  </div>

  <h1 class="ui centered header"><%= @recipe.title %></h1>
  <h1 class="ui centered header">Description: <%= @recipe.description %></h1>
  <h1 class="ui centered header">Prep Time: <%= @recipe.prep_time %></h1>
  <h1 class="ui centered header">Cook Time: <%= @recipe.cook_time %></h1>
  <h1 class="ui centered header">Directions: <%= @recipe.directions %></h1>

  <div class="ui list">
    <h1 class="ui centered header">Ingredients: </h1>
    <% @recipe.ingredients.each do |ingredient| %>
      <h1 class="ui centered header"><%= ingredient.name %></h1>
    <% end %>
  </div>

  <% if @recipe.vegan == true %>
    <h1 class="ui centered header">Vegan: <i class="ui centered checkmark icon"></i></h1>
  <% else %>
    <h1 class="ui centered header">Vegan: <i class="ui centered remove icon"></i></h1>
  <% end %>
  <% if @recipe.gluten_free == true %>
    <h1 class="ui centered header">Gluten Free: <i class="ui centered checkmark icon"></i></h1>
  <% else %>
    <h1 class="ui centered header">Gluten Free: <i class="ui centered remove icon"></i></h1>
  <% end %>
</div>
