<div id="show_recipe_details" class="ui raised text container segment">

  <% if logged_in? && current_user != @recipe.user %>
    <%= form_for @favorite do |f| %>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit 'Add Recipe to Favorites', { :class => 'ui left floated button' } %>
    <% end %>
  <% end %>

  <%= if_logged_in_options %>

  <h1 id="recipe_title" class="ui centered header"></h1>
  <h1 id="recipe_description" class="ui centered header">Description: </h1>
  <h1 id="recipe_prep_time" class="ui centered header">Prep Time: </h1>
  <h1 id="recipe_cook_time" class="ui centered header">Cook Time: </h1>
  <h1 id="recipe_directions" class="ui centered header">Directions: </h1>

  <div id="recipe_ingredients" class="ui list">
    <h1 id="total_amount" class="ui centered header">Total Number of Ingredients: </h1>
    <h1 class="ui centered header">Ingredients: </h1>
  </div>

  <h1 class="ui centered header">Vegan: <i id="checkmark" class="ui centered remove icon"></i></h1>
  <h1 class="ui centered header">Gluten Free: <i id="remove" class="ui centered remove icon"></i></h1>
</div>

<div class="ui raised text container segment">
  <h1 class="ui centered header"><%= link_to "Show Reviews", recipe_ratings_path(@recipe.id), id: "js-show_review" %></h1>
  <div class="ui very padded segment show_hide">
    <h1 class="ui centered header"><span id="user"></span>'s Review</h1>
    <h1 class="ui centered header">Rating: <span id="rating"></span></h1>
    <h1 class="ui centered header">Review: </h1>
    <h1 id="review" class="ui centered header"></h1>
    <a href="#"><i id="previous_rating" class="arrow left icon large"></i></a>
    <a href="#"><i id="next_rating" class="arrow right icon large"></i></a>
  </div>
</div>

<div id="hidden_recipe_field" class="ui raised text container segment">
  <%= form_for @rating, :html => { :class => "ui form" } do |f| %>

    <%= render 'users/form_errors', object: @rating %>

      <div class="required fluid field">
        <%= f.label :rating %>
        <%= f.number_field :rating, :placeholder => '0 - 5' %>
      </div>
      <div class="required fluid field">
        <%= f.label :review %>
        <%= f.text_area :review %>
      </div>
      <%= f.hidden_field :recipe_id, :value => @recipe.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit 'Submit Review', :class => 'ui teal huge submit button fluid' %>
  <% end %>
</div>
