<%= render 'sessions/icon_sign_in' %>

<h1 class="ui centered header">Please sign up</h1>
<%= form_for @user, :html => { :class => "ui form" } do |f| %>

  <%= render 'form', f: f %>

    <%= f.submit 'Create User', :class => "ui teal huge submit button fluid" %>
</div>
<% end %>
<div class="ui raised text container segment">
  <h1 class="ui centered header">If already a user please <%= link_to "sign in!", new_session_path %></h1>
</div>
