<div class="ui raised text container segment">
  <h1 class="ui centered header">Welcome back <%= "#{current_user.name}!" %></h1>
  <h1 class="ui centered header"><%= link_to "Delete User", user_path(current_user), :method => "delete" %></h1>

</div>
<div class="ui raised text container segment">
  <h1 class="ui centered header"><%= link_to "Create New Recipe", new_recipe_path %></h1>
  <h1 class="ui centered header"><%= link_to "Favorite Recipes", user_favorites_path(current_user) %></h1>
  <div class="ui middle aligned selection list">
    <% @recipes.each do |recipe| %>
      <div class="item">
        <%= link_to "#{recipe.title}", recipe_path(recipe) %> |
        <%= link_to "Edit", edit_recipe_path(recipe) %>
      </div>
    <% end %>
  </div>
</div>
