<!DOCTYPE html>
<html>
  <head>
    <title>LetsGetCookin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui secondary menu">
      <h2 class="link item"><%= link_to "Lets Get Cookin", root_path %></h2>
      <h2 class="link item"><%= link_to "Recipes", recipes_path %></h2>
      <div class="right menu">
        <% if logged_in? %>
          <h2 class="link item"><%= link_to "#{current_user.name}", user_path(current_user) %></h2>
        <% end %>
      </div>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "ui floating red message" %>
    <% end %>

    <%= yield %>

  </body>
</html>
